/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Background */
body {
  height: 100vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Box */
.box {
  background: #ffffff;
  padding: 40px;
  width: 350px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  animation: fadeIn 0.6s ease-in-out;
}

/* Title */
.box h2 {
  margin-bottom: 20px;
  color: #2c5364;
  font-size: 28px;
}

/* Fare Text */
#fare {
  font-size: 22px;
  font-weight: bold;
  color: #27ae60;
  margin: 20px 0;
}

/* Button */
button {
  background: linear-gradient(to right, #ff512f, #dd2476);
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover Effect */
button:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #dd2476, #ff512f);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}